/*  =========================
    Product content UI */

.product {
	&-content {
		background-color: #eee;
		padding-top: 50px;
		padding-bottom: 50px;

		display: grid;
		grid-template-columns: 65% ~"calc(35% - 3rem)";
		justify-content: space-between;
	}
}