/*  =========================
    Product content UI */

.product {
	&-content {
		padding-top: 50px;
		padding-bottom: 50px;

		display: grid;
		grid-template-columns: 80rem 33rem;
		justify-content: center;

		@media (max-width: @laptop) {
			grid-template-columns: 68% ~"calc(32% - 3rem)";
		}

		@media (max-width: @padmini) {
			grid-template-columns: 100%;
		}

		> * + * {
			margin-left: 3rem;
		}
	}
}