/*  =========================
    Product content UI */

.product {
	&-content {
		padding-top: 50px;
		padding-bottom: 50px;

		display: grid;
		grid-template-columns: 80rem 35rem;
		justify-content: center;

		@media (max-width: @padmini) {
			grid-template-columns: 100%;
		}

		> * + * {
			margin-left: 3rem;
		}
	}
}