/*  =========================
    Sidebar UI */

.sidebar {
	max-width: ~"calc(35% - 3rem)";

	> * + * {
		margin-top: 3rem;
	}

	&--button {
		&__btn {
			width: 100%;
			text-align: center;
		}
	}
}