/*  =========================
    Default styles */

/*  =========================
    Card UI */

.card-wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 3rem 4rem;

    @media (max-width: @mobile) {
        padding: 1.5rem 2.5rem;
    }

    .width_full {
        margin-left: -4rem;
        margin-right: -4rem;

        @media (max-width: @mobile) {
            margin-left: -2.5rem;
            margin-right: -2.5rem;
        }
    }
}