/*  =========================
    Row UI */

.rows {
	display: flex;
	flex-direction: column;
	z-index: 50;
}

.row {
	&--column {
		img {
			max-width: 100%;
			height: auto;
		} 
	}

	&.cols {
		&_count {
			&_1 {
				grid-template-columns: 100%;
			}

			&_2 {
				grid-template-columns: 50% 50%;

				@media (max-width: @mobile) {
					grid-template-columns: 100%;
				}
			}

			&_3 {
				grid-template-columns: 33% 33% 33%;

				@media (max-width: @mobile) {
					grid-template-columns: 100%;
				}
			}

			&_4 {
				grid-template-columns: 25% 25% 25% 25%;

				@media (max-width: @padmini) {
					grid-template-columns: 50% 50%;
				}

				@media (max-width: @mobile) {
					grid-template-columns: 100%;
				}
			}

			&_5 {
				grid-template-columns: 20% 20% 20% 20% 20%;

				@media (max-width: @pad) {
					grid-template-columns: 33% 33% 33%;
				}

				@media (max-width: @padmini) {
					grid-template-columns: 50% 50%;
				}

				@media (max-width: @mobile) {
					grid-template-columns: 100%;
				}
			}

			&_6 {
				grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;

				@media (max-width: @laptop) {
					grid-template-columns: 25% 25% 25% 25%;
				}

				@media (max-width: @pad) {
					grid-template-columns: 33% 33% 33%;
				}

				@media (max-width: @padmini) {
					grid-template-columns: 50% 50%;
				}

				@media (max-width: @mobile) {
					grid-template-columns: 100%;
				}
			}
		}

		&_margins {
			&_normal {
				.row--column {
					margin: 2rem;
				}

				.slick-dots {
					margin-top: 0;
				}
			}

			&_none {
				margin-top: 1rem;
			}
		}

		&_placement {
			&_stretch {
				align-items: stretch;
			}

			&_top {
				align-items: flex-start;
			}

			&_middle {
				align-items: center;
			}

			&_bottom {
				align-items: flex-end;
			}
		}

		&_align {
			&_left {
				justify-content: flex-start;
			}

			&_center {
				justify-content: center;
			}

			&_right {
				justify-content: flex-end;
			}

			&_space-around {
				justify-content: space-around;
			}

			&_space-between {
				justify-content: space-between;
			}
		}

		&_ratio {
			&_equal {
				// Nothing
			}

			&_left {
				.row-column {
					&:nth-child(odd) {
						width: 66%;
					}

					&:nth-child(even) {
						width: 33%;
					}
				}
			}

			&_right {
				.row-column {
					&:nth-child(odd) {
						width: 33%;
					}

					&:nth-child(even) {
						width: 66%;
					}
				}
			}
		}
	}

	&.type {
		&_content {

		}

		&_blog {

		}
	}

	&.layout {
		&_grid {
			display: grid;
		}

		&_carousel {

		}
	}

	&.width {
		&_full {
			width: 100%;
		}

		&_four-five {
			width: 80%;

			@media (max-width: @padmini) {
				width: 100%;
			}
		}

		&_three-four {
			width: 75%;

			@media (max-width: @laptop) {
				width: 80%;
			}

			@media (max-width: @padmini) {
				width: 100%;
			}
		}

		&_one-two {
			width: 50%;

			@media (max-width: @laptop) {
				width: 60%;
			}

			@media (max-width: @pad) {
				width: 75%;
			}

			@media (max-width: @padmini) {
				width: 100%;
			}
		}
	}

	&.position {
		&_left {
			margin-right: auto;
		}

		&_center {	
			margin-left: auto;
			margin-right: auto;
		}

		&_right {
			margin-left: auto;
		}
	}

	&.vertical {
		&_stretch {
			// Nothing
		}

		&_top {
			margin-bottom: auto;
		}

		&_middle {
			margin-top: auto;
			margin-bottom: auto;
		}

		&_bottom {
			margin-top: auto;
		}
	}

	&.arrows {
		&_type {
			&_hide {
				.slick {
					&-arrow {
						display: none;
					}
				}
			}

			&_auto {
				.slick {
					&-arrow {
						background-color: transparent;
						border: none;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						z-index: 50;
						cursor: pointer;
					}

					&-next {
						right: 3rem;
					}

					&-prev {
						left: 3rem;
					}
				}
			}

			&_custom {
				.slick {
					&-arrow {
						background-color: transparent;
						border: none;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						z-index: 50;
						cursor: pointer;
					}

					&-control {
						&:before,
						&:after {
							content: '';
							position: absolute;
							left: 50%;
							border-top: 3px solid;
						}

						&-prev {
							&:before {
							    width: 100%;
							    transform: translate(-50%, 0%) rotateZ(-45deg);
							    top: 0;
							}

							&:after {
							    width: 100%;
							    transform: translate(-50%, 0%) rotateZ(45deg);
							    bottom: 0;
							}
						}

						&-next {
							&:before {
							    width: 100%;
							    transform: translate(-50%, 0%) rotateZ(45deg);
							    top: 0;
							}

							&:after {
							    width: 100%;
							    transform: translate(-50%, 0%) rotateZ(-45deg);
							    bottom: 0;
							}
						}
					}
				}

				&.arrows_position {
					&_within {
						.slick {
							&-next {
								right: 3rem;
							}

							&-prev {
								left: 3rem;
							}
						}	
					} 

					&_out {
						.slick {
							&-next {
								right: -3rem;

								@media (max-width: @desktop) {
									display: none;
								}
							}

							&-prev {
								left: -3rem;

								@media (max-width: @desktop) {
									display: none;
								}
							}
						}	
					}
				}

				&.arrows_size {
					&_small {
						.slick {
							&-control {
								width: 5px;
								height: 8px;
							}
						}
					}

					&_medium {
						.slick {
							&-control {
								width: 10px;
								height: 12px;
							}
						}
					}

					&_large {
						.slick {
							&-control {
								width: 15px;
								height: 15px;
							}
						}
					}
				}

				&.arrows_weight {
					&_thin {
						.slick {
							&-control {
								&:before,
								&:after {
									border-width: 2px;
								}
							}
						}
					}

					&_bold {
						.slick {
							&-control {
								&:before,
								&:after {
									border-width: 4px;
								}
							}
						}
					}
				}
			}
		}
	}	

	.slick-dots {
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1rem;

		li {
			margin: 0 2px;

			&.slick-active {
				button {
					background-color: #ccc;
				}
			}
		}

		button {
		    color: transparent;
		    border: none;
		    position: relative;
		    overflow: hidden;
		    border-radius: 50%;
		    width: 10px;
		    line-height: 4px;
		    display: inline-block;
		    padding: 3px;
		    background-color: #e6e6e6;
		    cursor: pointer;
		    .mx-transition();

		    &:hover {
		    	opacity: .55;
				transform: scale(.9);
		    }
		}
	}
}