/*  =========================
    Row UI */

.row-wrapper {
	background-color: #eee;

	&.layout {
		&_scroll {

		}

		&_wrap {
			&.col {
				&_1 {
					.row-wrapper--item {
						width: 100%;
					}					
				}

				&_2 {
					.row-wrapper--item {
						width: 50%;
					}					
				}

				&_3 {
					.row-wrapper--item {
						width: 33.33%;
					}					
				}

				&_4 {
					.row-wrapper--item {
						width: 25%;
					}					
				}

				&_5 {
					.row-wrapper--item {
						width: 20%;
					}					
				}

				&_6 {
					.row-wrapper--item {
						width: 16.66%;
					}					
				}
			}
		}
	}


}