/*  =========================
    Button */

.button {
	background-color: @color-salat;
	border: 1px solid @color-salat;

	display: inline-block;
	padding: 1.5rem 2rem;
	color: #fff;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
	min-width: 15rem;
	.mx-transition(.3s);

	&:hover {
		background-color: darken(@color-salat, 10%);
		border-color: darken(@color-salat, 10%);
	}

	&.type {
		&-1 {
			background-color: transparent;

			&:hover {
				background-color: @color-salat;
				color: #fff;
			}
		}

		&-2 {
			background-color: transparent;
			color: @color-salat;

			&:hover {
				background-color: @color-salat;
				color: #fff;
			}
		}
	}

	&.width_box {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.spinner {
		opacity: 0;
		.mx-transition();
	}

	&.is {
		&-loading {
			color: transparent;
			pointer-events: none;
			.mx-transition();

			.mx-btn-loader(@color:#fff);
		}
	}
}

.button-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;

	&:first-child {
		margin-top: -1rem;
	}

	&:last-child {
		margin-bottom: -1rem;
	}

	&--content {
		margin: 1rem;
	}

	.button {
		margin: 1rem;
	}

	&.align_center {
		flex-direction: column;
		text-align: center;
	}

	&.align_right,
	&.align_left {
	}
}