/*  =========================
    Divider */

.top-divider {
	top: 0;
}

.bottom-divider {
	bottom: 0;
}

.top-divider,
.bottom-divider {
	position: absolute;
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 10;

	&_line {
		border-style: solid;
	}

	&_image {
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&_repeater {
		background-position: 50% 50%;
	}
}