/*  =========================
    Icons list UI */

.icons-list {
	display: grid;
	align-items: flex-start;
	margin-top: -1rem;
	margin-bottom: -1rem;

	&.justify-content {
		&_center {
			.icons-list--item {
				margin: 0 auto;
			}
		}
	}

	&.layout {
		&_cols-2 {
			grid-template-columns: 50% 50%;

			@media (max-width: @padmini) {
				grid-template-columns: 100%;
			}
		}

		&_cols-3 {
			grid-template-columns: auto auto auto;
			margin-left: -1rem;
			margin-right: -1rem;

			@media (max-width: @padmini) {
				grid-template-columns: 100%;
			}

			.icons-list--item {
				margin: 1rem;
			}
		}

		&_cols-4 {
			grid-template-columns: 25% 25% 25% 25%;

			@media (max-width: @laptop) {
				grid-template-column: 50% 50%;
			}

			@media (max-width: @padmini) {
				grid-template-column: 100%;
			}
		}
	}

	&--item {
		display: flex;
		align-items: center;
		font-size: 1.7rem;
		margin-top: 1rem;
		margin-bottom: 1rem;

		> * + * {
			margin-left: 1rem;
		}

		&__icon {
			text-align: center;
			min-width: 3rem;
		}

		&__text {
			color: @brand-black;
		}
	}

	&--icon_default {
		position: relative;

		&:before {
		    content: "\f0a3";
		    font-size: 4rem;
		    position: relative;
		    z-index: 1;
		}

		&:after {
  			content: "\f00c";;
		    font-size: 1.85rem;
		    color: #fff;
		    z-index: 2;
		    .mx-absolute-center;
		}
	}
}