/*  =========================
    Icons list UI */

.icons-list {
	display: grid;
	align-items: flex-start;

	&.layout {
		&_cols-2 {
			grid-template-columns: 50% 50%;

			@media (max-width: @padmini) {
				grid-template-column: 100%;
			}
		}

		&_cols-3 {
			grid-template-columns: 33% 33% 33%;

			@media (max-width: @padmini) {
				grid-template-column: 100%;
			}
		}

		&_cols-4 {
			grid-template-columns: 25% 25% 25% 25%;

			@media (max-width: @laptop) {
				grid-template-column: 50% 50%;
			}

			@media (max-width: @padmini) {
				grid-template-column: 100%;
			}
		}
	}

	&.align-items {
		&_center {
			.icons-list--item {
				align-items: center;
				margin: 0;

				+ .icons-list--item {
					margin-top: 1rem;
				}
			}
		} 

		&_baseline {
			margin-left: -2rem;
			margin-right: -2rem;

			.icons-list--item {
				align-items: baseline;
				margin: 1rem 2rem;
			}
		}
	}

	&.justify-content {
		&_center {
			.icons-list--item {
				margin: 0 auto;
			}
		}
	}

	&--item {
		display: flex;
		font-size: 2rem;

		> * + * {
			margin-left: 1rem;
		}

		&__icon {
			text-align: center;
		}
	}
}